{% from "fits-header.html.jinja" import fits_header_table %}
{# Generate the <img> #}
{% set fits_image %}
  <img src="{{ img_src }}" alt="Preview of {{ download_filename }}" />
{% endset %}

{# Actual content that gets rendered #}

<link rel="stylesheet" href="{{ relative_path_modifier }}{{ css_link }}" />
<div class="cambium-PreviewFITS">
  <div class="cambium-PreviewFITS-upper">
    {# cambium_wrap adds the div.cambium-img-holder #}
    {{ cambium_wrap(fits_image, "img") }}
    {% include "overview-table.html.jinja" %}
  </div>

  {{ fits_header_table(fits_header, "Header from something") }}
  {{ fits_header_table(fits_header, "again") }}
</div>
