div.cambium-PreviewFITS {
  h2 {
    margin-top: 1rem;
  }

  div.cambium-img-holder,
  div.cambium-table-holder {
    margin-top: 0;
  }

  table {
    min-width: 15rem;
  }

  div.cambium-PreviewFITS-summary {
    background-color: #eee;
    padding: 1rem;

    ol {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  a.cambium-PreviewFITS-download-link {
    display: inline-flex;
    svg {
      width: 1rem;
    }
  }
}
