div.cambium-PreviewFITS {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    margin-top: 1rem;
  }

  div.cambium-img-holder,
  div.cambium-table-holder {
    margin-top: 0;
  }

  a.cambium-PreviewFITS-download-link {
    display: inline-flex;
    svg {
      width: 1rem;
    }
  }
}
