div.cambium-PreviewFITS {
  div.cambium-PreviewFITS-upper {
    display: flex;
    align-items: flex-start;
  }

  div.cambium-img-holder {
    margin-top: 0;
  }

  a.cambium-PreviewFITS-download-link {
    display: inline-flex;
    svg {
      width: 1rem;
    }
  }
}
