{% macro fits_image(index, hdu, download_info) -%}
  <img
    src="{{ hdu['preview_data']['image_path'] }}"
    alt="Preview of {{ download_info['link'] }} HDU {{ index }}"
  />
{%- endmacro %}
{{ cambium_wrap(fits_image(index, hdu, download_info), "img") }}
